* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #c2dbe6;
}

.steps {
    position: relative;
    background-color: inherit;
    height: calc(100vh - 20px);
    width: 765px;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0px 16px 26px 2px #000000b0;
    border: solid white;
    border-width: 20px 6px;
}

.step {
    position: absolute;
    background-color: #03a9f4;
    width: 0%;
    height: 100%;
    top: 0;
    z-index: 0;
    border: solid white;
    border-width: 0px 1px;
    overflow: hidden;
    transition: all 0s .4s, z-index 0s;
}

.to-right>.step {
    left: unset;
    right: 100%;
}

.to-right .navigation-panel {
    min-width: 573px;
}

.to-left>.step {
    left: 100%;
    right: unset;
}

.to-left .navigation-panel {
    min-width: 104px;
}

[data-step="1"]>.step-1,
[data-step="2"]>.step-2,
[data-step="3"]>.step-3,
[data-step="4"]>.step-4 {
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    transition: all .4s 0s, z-index 0s;
}

.step h1 {
    min-width: 200px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.navigation-panel {
    background-color: #8BC34A;
    height: 37px;
    width: 100%;
    text-align: right;
    padding: 8px;
    bottom: 0;
    position: absolute;
}

.table-form {
    background-color: #0000005e;
    color: #FFC107;
    padding: 1px;
    margin: 0 0 20px 0px;
}

.form {
    padding: 2px;
    margin: 11px;
}

input[type="number"] {
    width: 60px;
}

.table {
    max-width: 100%;
    width: 100%;
    min-height: 64px;
    /* background:  red; */
    overflow-x: scroll;
    /* display:  table; */
}

.line {
    clear: both;
    height: 2px;
    background: #8bc34a;
}

.row {
    display: block;
    float: left;
    width: 96px !important;
    color: black;
    height: 46px;
    padding: 4px;
    margin: 0px 0px 0px 0;
    background: #d4d4d4;
    border: solid;
    border-width: 0 1px 1px 0;
    /* height: 17px; */
    /* display: table-cell; */
}

.row span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    /* background: red; */
}

h3 {
    margin: 5px;
}