*{
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin: 0;
	background-image: url('../background.png');
	background-size: 100% 100%;
}
body {
    background: #8bc34a9e;
    padding: 1px 0 1px 0;
    margin: -2px 0 0px 0px;
}
h1 {
	min-width: 200px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	color: white;
	text-decoration: underline;
	margin: 5px 0 15px;
}
h3 {
	margin: 5px 0px;
}
.modals{
	display: none;
	position: absolute;
	top:0;
	width: 100%;
	height: 100vh;
	background-color:#00000088;
	z-index: 9999;
}
.modal {
	display: none;
	position:  relative;
	width: 600px;
	height: 200px;
	background-color: #03A9F4;
	margin:  auto;
	border: 2px solid white;
	top: 160px;
	text-align:  center;
	color: white;
	border-radius: 6px;
	transform:  scale(0);
	transition: .4s cubic-bezier(0, -0.35, 0.24, 1.76);
	box-shadow: 0 0 14px 1px black;
	overflow: hidden;
}
.alert .modal{
	animation: alert 1s 1;
}
@keyframes alert{
	0%{border-color:white;}
	25%{border-color:red;}
	30%{border-color:white;}
	55%{border-color:red;}
	60%{border-color:white;}
	85%{border-color:red;}
	90%{border-color:white;}
	100%{border-color:red;}
}
.show .modal {
	transform: none;
}
[data-modal="1"]>.modal-1,
[data-modal="2"]>.modal-2,
[data-modal="3"]>.modal-3,
[data-modal="4"]>.modal-4, 
[data-modal="5"]>.modal-5,
[data-modal="6"]>.modal-6{
	display: block;
}
.edit-weight, .edit-method{
	display: none;
}
.set-weight .edit-weight{
	display: block;
}
.set-method .edit-method{
	display: block;
}
.navigation-panel {
	position:  absolute;
	bottom:  0;
	text-align:  center;
	width:  100%;
	background-color: #8BC34A;
	padding: 10px;
}
input[type="number"] {
	width: 68px;
	text-align:  center;
}
.steps {
	position: relative;
	background-color: inherit;
	height: calc(100vh - 20px);
	width: 765px;
	margin: 10px auto;
	overflow: hidden;
	box-shadow: 0px 16px 26px 2px #000000b0;
	border: solid white;
	border-width: 20px 6px;
}

.step {
	position: absolute;
	background-color: #03a9f4;
	width: 0%;
	height: 100%;
	top: 0;
	z-index: 0;
	border: solid white;
	border-width: 0px 1px;
	overflow: hidden;
	transition: all 0s .4s, z-index 0s;
}

.right>.step {
	left: unset;
	right: 100%;
}

.right .navigation-panel {
	min-width: 573px;
}

.left>.step {
	left: 100%;
	right: unset;
}

.left .navigation-panel {
	min-width: 104px;
}

[data-step="1"]>.step-1,
[data-step="2"]>.step-2,
[data-step="3"]>.step-3,
[data-step="4"]>.step-4, 
[data-step="5"]>.step-5{
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	transition: all .4s 0s, z-index 0s;
}
.storage {
	background-color: #fffffffc;
	background-image: url("../gear.png");
	background-size:  contain;
	width: 38px;
	z-index: 99;
	height: 38px;
	position: absolute;
	top: 0px;
	right: 0;
	border: solid #ffffffb8;
	border-width: 0px 0px 12px 12px;
	border-radius: 0 0 0 23px;
}

.table-form {
	background-color: #0000005e;
	color: #FFC107;
	padding: 1px;
	margin: 0 0 20px 0px;
	min-width: 750px;
}


.form {
	padding: 2px;
	margin: 11px;
}
.center{
	text-align: center;
}
.no-form .form {
	visibility: hidden;
}
.no-pagination .pagination{
	display: none;
}
/************************************ table ****************************/
.table {
	overflow-x: scroll;
	overflow-y: auto;
	width: 100%;
	max-height: 420px;
}
.table.row1{
	min-height: 46px;
}
.table.row2{
	min-height: 60px;
}
.table.row3{
	min-height: 78px;
}
table {
	width: 0;
    border-top: 1px solid #CDDC39;
}
th, td {
	background-color: #e1e1e1;
	color: black;
	max-width: 120px;
	min-width: 40px;
	height: 25px;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table span{
	display: block;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.36);
}
 
::-webkit-scrollbar-thumb {
  background-color: #8bc34a;
  outline: 1px solid slategrey;
}
.indice-menu button {
    width: 184px;
    margin: 4px 0 0 0px;
    height: 27px;
}
.on-no-form span {
    background-color: #e1e1e1;
    color: black;
    text-align: center;
    width: 100px;
	margin: 3px;
	display: none;
}
.no-form .on-no-form span {
	display: block;
}